<h1>
  <div class="text-left">
    <%= gravatar_for @user %>
  </div>
  <div class = "text-left">
    name:<%= @user.name %><br>
    email:<%= @user.email %><br>
    age:<%= @user.age %><br>
    favorite:<%= @user.favorite %>
  </div>
</h1>